.header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70rem;
    border: 3px solid $headerOutline;
    border-radius: 1.5rem;
    padding: 2rem 3.2rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    position: relative;
    &__title {
        height: 11rem;
        width: 11rem;
        position: relative;
    }
    &__score {
        position: relative;
        background: linear-gradient(0deg, #f3f3f3 0%, #ffffff 100%);
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
        border-radius: 8px;
        padding: 1.5rem 4.7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 6.4rem;
        font-weight: $font-Bold;
        line-height: 6.4rem;
        text-transform: uppercase;
        color: $darkText;
        & span {
            font-size: 1.6rem;
            font-weight: $font-semiBold;
            line-height: 1.9rem;
            letter-spacing: 0.25rem;
            color: $scoreText;
        }
    }
    &__reset {
        position: absolute;
        top: 50%rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.4rem;
        white-space: nowrap;
        letter-spacing: 0.25rem;
        background: transparent;
        border: 0;
        color: #fff;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        &::after {
            content: "";
            position: absolute;
            bottom: -0.1rem;
            left: 0;
            width: 0%;
            border-bottom: 1px solid #fff;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0.1rem;
            right: 0;
            width: 0;
            border-top: 1px solid #fff;
        }
        &:hover {
            text-decoration: underline;
            color: $headerOutline;
            cursor: pointer;
            &::after,
            &::before {
                width: 100%;
                transition: all 0.4s;
                -webkit-transition: all 0.4s;
                -moz-transition: all 0.4s;
                -ms-transition: all 0.4s;
                -o-transition: all 0.4s;
            }
        }
    }
}

@media screen and (max-width: 756px) {
    .header {
        width: 100%;
        min-width: 31rem;
        height: 9.6rem;
        padding: 2.4rem;
        padding-right: 1.2rem;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        &__title {
            width: 4.8rem;
            height: 4.9rem;
        }
        &__score {
            font-size: 4rem;
            line-height: 4rem;
            padding: 1rem 2.3rem;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            & span {
                font-size: 1rem;
                letter-spacing: 0.156rem;
                line-height: auto;
            }
        }
        &__reset {
            font-size: 1rem;
        }
    }
}
