.stepOne {
    margin: 5rem auto;
    width: 47.2rem;
    height: 46.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    &__bgImage {
        width: 34.5rem;
        height: 34.5rem;
        position: absolute;
    }
    &__rowOne,
    &__rowTwo,
    &__rowThree {
        display: flex;
    }
    &__rowOne {
        grid-column-start: 1;
        grid-column-end: 3;
        position: absolute;
        top: 0;
    }
    &__rowTwo {
        width: 47rem;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
    &__rowThree {
        width: 34rem;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
    }
}
